<%- include('partials/header') -%>


<body class="text-bg-dark d-flex flex-column min-vh-100">
<header>
  <%- include("partials/navbar") -%>
</header>

<main id="game-max-width">
  <section class="scoreScreen container mt-3 fw-bold col-md-6">
    <section class="playerScore text-center fs-1">
        <span id="playerMainCount"></span>
    </section>

    <div class="currScoreDiv  container pt-3">
        <!-- <span class="fw-normal currentTurnTitle align-top">Current turn score:</span>
        
        <span id="currentTurnScore" class="fw-semibold align-bottom"></span>
        <br>
        <span class="fw-normal currentTurnTitle align-top">Previous turn score:</span>
        
        <span id="prevTurnScore" class="fw-semibold align-bottom"></span> -->
        <div class="row justify-content-center ">
          <div class="col-6  text-end">
            Current turn:
          </div>
          <div class="col-6 text-start border" id="currentTurnScore">
            
          </div>
          <div class="col-6 text-end">
            Previous turn:
          </div>
          <div class="col-6 text-start" id="prevTurnScore">
            
          </div>
          <div class="col-6 text-end">
            Average:
          </div>
          <div class="col-6 text-start" id="average">
            
          </div>
          <div class="col-6 text-end">
            First 9 Avg.:
          </div>
          <div class="col-6 text-start" id="first9avg">
            
          </div>
          <!-- <div class="col-6 text-end">
            Legs Played:
          </div>
          <div class="col-6 text-start" id="legsPlayed">
            
          </div> -->
        </div>
        
          
      
    </div>
  </section>

  <section class="numpadHolder container col-md-8 mx-auto pt-4">
        
      <div class="numpad row row-cols-3 g-0 h-50 align-items-end  ">
        
          <button type="button" class="btn btn-primary border border-light h-25 gameEntryButton fs-1" value="1">1</button>
          <button type="button" class="btn btn-primary border border-light h-25 gameEntryButton fs-1" value="2">2</button>
          <button type="button" class="btn btn-primary border border-light h-25 gameEntryButton fs-1" value="3">3</button>
          <button type="button" class="btn btn-primary border border-light h-25 gameEntryButton fs-1" value="4">4</button>
          <button type="button" class="btn btn-primary border border-light h-25 gameEntryButton fs-1" value="5">5</button>
          <button type="button" class="btn btn-primary border border-light h-25 gameEntryButton fs-1" value="6">6</button>
          <button type="button" class="btn btn-primary border border-light h-25 gameEntryButton fs-1" value="7">7</button>
          <button type="button" class="btn btn-primary border border-light h-25 gameEntryButton fs-1" value="8">8</button>
          <button type="button" class="btn btn-primary border border-light h-25 gameEntryButton fs-1" value="9">9</button>
          <button type="button" class="btn btn-primary border border-light h-25 gameEntryButton fs-1" value="back">Back</button>
          <button type="button" class="btn btn-primary border border-light h-25 gameEntryButton fs-1" value="0">0</button>
          <button type="button" class="btn btn-primary border border-light h-25 gameEntryButton fs-1" value="next">Next</button>

      </div>
  </section>
</main>

<script src="/js/game.js"></script>
<%- include("partials/footer") -%>
</body>